/* Ribbon */

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#007C92 0%, #00505c 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #00505c;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #00505c;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #00505c;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #00505c;
}


/* Form */

abbr[title] {
    text-decoration: none;
    border: none;
    color: #8c1515;
}

fieldset.form-group {
    padding: .35em 0 .625em;
    margin-bottom: 0;
}

fieldset.form-group .form-group-content .row {
    margin: 0;
}

.form-control {
    font-size: 1.8rem;
}

.form-section {
    padding: 1.75rem;
    margin: 2rem 0;
    background: #f4f4f4;
    position: relative;
}

.form-section h2 {
    margin: 0 0 0.5em 0;
}

.form-section>.form-content:not(:last-of-type) {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
}

.form-section .form-content>.form-group {
    margin-bottom: 2rem;
}

.form-section .form-group label {
    margin-top: 0;
    display: inline-block;
}

.col-form-label,
.form-section .form-group>label,
.form-section .form-group legend,
.form-section .form-content>.form-group>label,
.form-section .form-content>.form-group legend {
    font-weight: 600;
    max-width: 800px;
}

.form-check label {
    text-indent: -3.2rem;
    padding-left: 2.3rem;
    max-width: 800px;
}

@media (max-width: 767.98px) {
    .form-check label {
        text-indent: -2.95rem;
    }
}

.form-datepicker {
    display: inline-block;
    width: auto;
    max-width: 75%;
    margin-right: 5px;
}

button.ui-datepicker-trigger {
    height: 3.6rem;
    top: 0.7rem;
    position: relative;
    padding: 0.3rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2e2d29;
    background-color: #dad7cb;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.ui-datepicker-trigger:hover,
button.ui-datepicker-trigger:focus {
    background-color: #b6b1a9;
    color: #2e2d29;
}


/* Building Picker */

.form-buildingpicker {
    display: inline-block;
    max-width: 75%;
    margin-right: 2px;
}

.ui-buildingpicker-remove {
    height: 3.6rem;
    top: -0.2rem;
    position: relative;
    padding: 0.3rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2e2d29;
    background-color: #dad7cb;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: none;
}

.ui-buildingpicker-add {
    padding: 0.375rem 0;
}


/* Form Error */

.form-error-summary {
    padding: 1.75rem;
    margin: 0 0 1rem 0;
    border: #B1040E 5px solid;
}

.form-error-summary::before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 2em;
    display: inline-block;
    content: "\f071";
    padding-right: 1rem;
    color: #B1040E;
}

.form-error-summary h2 {
    display: inline-block;
    color: #B1040E;
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

.form-error-summary>*:last-child {
    margin-bottom: 0;
}

.form-error {
    position: relative;
    padding-left: 1.75rem;
    margin: 0 0 1rem 0;
    border-left: #B1040E 5px solid;
}

.form-error legend {
    padding-left: 1.75rem;
    display: block;
    float: left;
}

.form-error .form-group-content {
    display: block;
    float: left;
    width: 100%;
}

.form-error .error-text {
    position: relative;
    width: 100%;
    padding-bottom: 1em;
    flex: 0 0 100%;
    max-width: 100%;
    font-weight: 600;
    color: #B1040E;
}

fieldset.form-group.form-error .error-text,
fieldset.form-group.form-error .form-group-content,
fieldset.form-group.form-error .col-form-label {
    padding-left: 1.75rem;
}


/* Thank You Page */

.status-green,
.status-yellow,
.status-red,
.status-blue {
    position: relative;
    padding: 1.75rem;
    margin-bottom: 1.5em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.status-green h2,
.status-yellow h2,
.status-red h2,
.status-blue h2 {
    display: inline-block;
    margin-left: 0.75em;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.status-green p,
.status-yellow p,
.status-red p,
.status-blue p {
    margin-left: 3.2em;
}

.status-green p:last-child,
.status-yellow p:last-child,
.status-red p:last-child,
.status-blue p:last-child {
    margin-bottom: 0;
}

.status-green ul,
.status-yellow ul,
.status-red ul,
.status-blue ul {
    margin-left: 4.2em;
}

.status-green ol,
.status-yellow ol,
.status-red ol,
.status-blue ol {
    margin-left: 4.2em;
}

.status-green::before,
.status-yellow::before,
.status-red::before,
.status-blue::before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 2em;
    float: left;
}

.status-green {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.status-green::before {
    content: "\f058";
}

.status-yellow {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.status-yellow::before {
    content: "\f06a";
}

.status-red {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.status-red::before {
    content: "\f071";
}

.status-blue {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.status-blue::before {
    content: "\f05a";
}


/* Splash Page */

body.splash {
    position: relative;
    background: url("../images/healthcheck-bg1.jpg") no-repeat 75% center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.splash main {
    background: rgba(0, 0, 0, 0.6);
}

body.splash #main-content {
    padding: 10vh 0 50px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 300;
}

body.splash #main-content h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
}

body.splash #main-content h2,
body.splash #main-content p.description {
    text-shadow: 1px 1px #333;
}

body.splash #main-content a.btn-link:hover,
body.splash #main-content a.btn-link:focus {
    text-decoration: underline;
}

body.splash .btn-lg {
    font-size: 2.4rem;
}

@media (max-width: 991.98px) {
    body.splash #main-content {
        padding: 8vh 0 40px 0;
    }
}

@media (max-width: 575.98px) {
    body.splash #main-content {
        padding: 0 20px;
        font-size: 20px;
    }
    body.splash #main-content h2 {
        font-size: 34px;
    }
    body.splash .btn-lg {
        font-size: 2rem;
    }
}


/* Onsite Access Badge */

.access-badge-green,
.access-badge-red {
    position: relative;
    margin: 1.5em 0;
    padding: 4rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13), 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 2.5rem;
    color: #fff;
}

.access-badge-green p:last-child,
.access-badge-red p:last-child {
    margin-bottom: 0;
}

.access-badge-green {
    background-color: #175e54;
}

.access-badge-red {
    background-color: #6D3131;
}

@media (max-width: 767.98px) {
    .access-badge-green,
    .access-badge-red {
        padding: 4rem 2rem;
    }
}

.access-badge-green a,
.access-badge-red a {
    font-weight: unset;
}

.access-badge-green h2,
.access-badge-green .h2,
.access-badge-red h2,
.access-badge-red .h2 {
    margin: 0;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: -.016em;
    font-weight: 700;
}

.access-badge-green h3,
.access-badge-green .h3,
.access-badge-red h3,
.access-badge-red .h3 {
    margin: 0;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: -.012em;
    font-weight: 700;
}

.access-badge-green h4,
.access-badge-green .h4,
.access-badge-red h4,
.access-badge-red .h4 {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: -.01em;
    font-weight: 700;
}

.access-badge-green h2::after,
.access-badge-red h2::after {
    font-family: 'Font Awesome 5 Free';
    font-size: 3em;
    text-align: center;
    display: block;
    margin: 0.15em 0;
}

.access-badge-green h2::after {
    content: "\f058";
}

.access-badge-red h2::after {
    content: "\f071";
}

.access-badge-green p,
.access-badge-red p {
    clear: both;
    text-align: center;
}


/* Bootstrap Compatibility */

.btn {
    text-decoration: none !important;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    padding: 0.75rem 1.5rem;
}

.btn-lg,
.btn-group-lg>.btn {
    padding-top: 0.33333333em;
    padding-bottom: 0.33333333em;
    padding: 1rem 2rem;
    font-size: 2.4rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}

[type=submit].btn-primary {
    color: #fff;
    background-color: #006CB8;
    border-color: #006CB8;
}

[type=submit].btn-primary:hover {
    color: #fff;
    background-color: #00548f;
    border-color: #00548f;
}

[type=submit].btn-primary:focus,
[type=submit].btn-primary.focus {
    color: #fff;
    background-color: #00548f;
    border-color: #00548f;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

[type=submit].btn-primary:not(:disabled):not(.disabled):active,
[type=submit].btn-primary:not(:disabled):not(.disabled).active,
.show>[type=submit].btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00548f;
    border-color: #00548f;
}

[type=submit].btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

[type=submit].btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

[type=submit].btn-success:focus,
[type=submit].btn-success.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

[type=submit].btn-success:not(:disabled):not(.disabled):active,
[type=submit].btn-success:not(:disabled):not(.disabled).active,
.show>[type=submit].btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

[type=submit].btn-lagunita {
    color: #fff;
    background-color: #007c92;
    border-color: #007c92;
}

[type=submit].btn-lagunita:hover {
    color: #fff;
    background-color: #005c6c;
    border-color: #00515f;
}

[type=submit].btn-lagunita:focus,
[type=submit].btn-lagunita.focus {
    color: #fff;
    background-color: #005c6c;
    border-color: #00515f;
    box-shadow: 0 0 0 0.2rem rgba(38, 144, 162, 0.5);
}

[type=submit].btn-lagunita:not(:disabled):not(.disabled):active,
[type=submit].btn-lagunita:not(:disabled):not(.disabled).active,
.show>[type=submit].btn-lagunita.dropdown-toggle {
    color: #fff;
    background-color: #00515f;
    border-color: #004652;
}

[type=submit].btn-palo-alto {
    color: #fff;
    background-color: #175e54;
    border-color: #175e54;
}

[type=submit].btn-palo-alto:hover {
    color: #fff;
    background-color: #0f3f39;
    border-color: #0d352f;
}

[type=submit].btn-palo-alto:focus,
[type=submit].btn-palo-alto.focus {
    color: #fff;
    background-color: #0f3f39;
    border-color: #0d352f;
    box-shadow: 0 0 0 0.2rem rgba(58, 118, 110, 0.5);
}

[type=submit].btn-palo-alto:not(:disabled):not(.disabled):active,
[type=submit].btn-palo-alto:not(:disabled):not(.disabled).active,
.show>[type=submit].btn-palo-alto.dropdown-toggle {
    color: #fff;
    background-color: #0d352f;
    border-color: #0a2b26;
}

.lead {
    font-size: 2.4rem;
}

.text-muted {
    color: #4d4f53 !important;
}

.tooltip {
    font-size: 1.5rem;
}

.tooltip-inner {
    text-align: left;
    padding: 1rem;
    max-width: 300px;
}

a[data-toggle=tooltip] {
    display: inline-block;
    border-bottom: 1px dashed #2e2d29;
    text-decoration: none;
    color: #2e2d29;
}

a[data-toggle=tooltip]:hover,
a[data-toggle=tooltip]:focus {
    color: #b1040e;
    border-bottom: 1px dashed #b1040e;
}

a[data-toggle=tooltip][target=_blank] {
    color: #006cb8;
    text-decoration: underline;
    border: none;
}

a[data-toggle=tooltip][target=_blank]:hover,
a[data-toggle=tooltip][target=_blank]:focus {
    color: #00548f;
    border: none;
}

.alert {
    padding: 1.75rem;
}

.alert h2 {
    margin-top: 0;
}

.alert>p:last-child {
    margin-bottom: 0;
}

.alert a {
    color: #00548f;
}

.alert a:hover,
.alert a:focus {
    color: #2e2d29;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #B1040E;
}

.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label {
    color: #B1040E;
}


/* Helper */

.text-cardinal-red {
    color: #8c1515;
}

.text-bright-red {
    color: #b1040e;
}

.text-palo-alto {
    color: #175e54;
}

.text-large {
    font-size: 2.2rem;
}

.text-larger {
    font-size: 2.6rem;
}


/* Language Switcher */

.su-site-search a {
    color: #2e2d29;
    text-decoration: none;
}

.su-site-search a:hover,
.su-site-search a:focus {
    color: #b1040e;
    text-decoration: underline;
}

.su-main-nav--mobile-search .su-site-search a {
    color: #fff;
}


/* Mobile Styles */

@media (max-width: 767.98px) {
    #main-content {
        padding: 0 10px;
    }
    #main-content h1 {
        text-align: center;
    }
    .form-section {
        padding: 1.5rem;
    }
    .form-section .form-group .form-check {
        padding-left: 0;
    }
    .form-section .form-group .form-check-label {
        display: block;
        background: #fff;
        margin-bottom: 1.5rem;
        padding: 1.5rem 1.5rem 1.5rem 5rem;
        border: 3px solid #fff;
        border-radius: 1rem;
        text-indent: 0;
        font-weight: 600;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .form-section .form-group .form-check-input+label:before {
        float: left;
        margin-left: -3rem;
        margin-top: 0.5rem;
    }
    .form-section .form-group .form-check-input[type=checkbox]+label:before {
        margin-top: 0.4rem;
    }
    .form-section .form-group .form-check-input:checked+.form-check-label {
        border: 3px solid #006CB8;
    }
}